body {
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 18px;
	margin: 0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}


main {
	width: 850px;
	margin: 35px auto;
}

header {
	color: white;
	background-color: #f15b31;
	padding: 30px 20px;
}	

h1 {
	font-family: raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;

}

nav {

	background-color: #00a6b3;
	color: #FFFFFF;
	padding: 20px 0;
}

a {
	font-family: raleway;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 2px solid transparent;
	margin-right: 0 20px;

}

a:hover {

border-color: 2px solid #FFFFFF;
}

h2, h3 {
	font-family: raleway;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font size: 18px;
}

img {
	margin: 40px 0 8px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D2C40; 
	color: white;
	letter-spacing: .08em;
	font-weight: 500;
	font-size: 14px;
	font-family: raleway;
}

.copyright {
	float: left;
	font-family: "Raleway", sans-serif;

}


.message {
	float: right;
	font-family: "Raleway", sans-serif;

}



.name {
	color: #f15b31;
	font-weight: 700;
}














